.welcome-message {
    font-size: 2.5em;
    background-color: rgb(18, 181, 91);
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 0;
}
.login-prompt {
    font-size: 2.5em;
    background-color: rgb(237, 55, 55);
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 0;
}